page-home {
    ion-content{
        background-image: url("../../assets/imgs/u.png");
        background-repeat: no-repeat;
        background-size: contain;
            background-position: center;
            background-size: cover;
    }
    ion-navbar{
        text-align: center;
    }
}
